<li><a href="{{ _('https://www.concordia.ca/') }}">{{ _('Concordia.ca') }}</a></li>
<li><a href="{{ _('https://www.concordia.ca/artsci.html') }}">{{ _('Faculty of Arts and Science') }}</a></li>
<li><a href="{{ _('https://www.concordia.ca/artsci/scpa.html') }}">{{ _('School of Community & Public Affairs') }}</a></li>
<li><a href="{{ _('https://www.concordia.ca/artsci/scpa/quescren.html') }}">{{ _('QUESCREN') }}</a></li>
<li><a href="{{ _('https://www.concordia.ca/artsci/scpa/quescren/resources.html') }}">{{ _('Resources') }}</a></li>
