{% ckan_extends %}

{#- DESQ:
    - Remove follower count.
    - Remove description text.
    - Remove the "There is no description for this organization" message.
    - Customize the "read more" link (now "About").
-#}

{% block description %}
    <p class="read-more">
        {% link_for _('About'), controller='organization', action='about', id=organization.name, icon='info-circle' %}
    </p>
{% endblock %}

{% block nums %}
    <div class="nums">
        <dl>
            <dt>{{ _('Datasets') }}</dt>
            <dd>{{ h.SI_number_span(organization.package_count) }}</dd>
        </dl>
    </div>
{% endblock %}
