{% ckan_extends %}

{#- DESQ:
    - Remove all tabs from the content_primary_nav block.
-#}

{% set title = h.get_translated(group_dict, "title") %}
{% set title_abbr = h.get_translated(group_dict, "title_abbr") %}

{% block breadcrumb_content %}
    <li>{% link_for _('Organizations'), named_route=group_type+'.index' %}</li>
    <li class="active">{% link_for title_abbr or title, named_route=group_type+'.read', id=group_dict.name %}</li>
{% endblock %}

{% block page_header %}
    {#- Remove content_primary_nav block (tabs). #}
    {%- if self.content_action() | trim %}
        <header class="module-content page-header page-header-organization">
            <div class="content_action">
                {%- block content_action %}
                    {%- if h.check_access('organization_update', {'id': group_dict.id}) %}
                        {% link_for _('Manage'), named_route=group_type+'.edit', id=group_dict.name, class_='btn btn-default', icon='wrench' %}
                    {%- endif %}
                {% endblock %}
            </div>
        </header>
    {%- endif %}
{% endblock %}
