{% ckan_extends %}

{#- DESQ:
    - Remove all tabs from the content_primary_nav block.
    - Use translated organization title and abbreviation in meta title.
-#}

{% block subtitle %}{{ h.desq_organization_title(group_dict) }} {{ g.template_title_delimiter }} {{ _('Organizations') }}{% endblock %}

{% block breadcrumb_content %}
    <li>{% link_for _('Organizations'), named_route=group_type+'.index' %}</li>
    <li class="active">{% link_for h.desq_organization_abbr_or_title(group_dict), named_route=group_type+'.read', id=group_dict.name %}</li>
{% endblock %}

{% block page_header %}
    {#- Remove content_primary_nav block (tabs). #}
    {%- if self.content_action() | trim %}
        <header class="module-content page-header page-header-organization">
            <div class="content_action">
                {%- block content_action %}
                    {%- if h.check_access('organization_update', {'id': group_dict.id}) %}
                        {% link_for _('Manage'), named_route=group_type+'.edit', id=group_dict.name, class_='btn btn-default', icon='wrench' %}
                    {%- endif %}
                {% endblock %}
            </div>
        </header>
    {%- endif %}
{% endblock %}
