/* Fonts */
@font-face {
  font-family: 'GillSansMTPro';
  src:url('/webfonts/gillsansmtpro-book-webfont.woff') format('woff'),
      url('/webfonts/gillsansmtpro-book-webfont.ttf') format('truetype'),
      url('/webfonts/gillsansmtpro-book-webfont.svg#GillSansMTProBook') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GillSansMTPro';
  src:url('/webfonts/gillsansmtpro-bookitalic-webfont.woff') format('woff'),
      url('/webfonts/gillsansmtpro-bookitalic-webfont.ttf') format('truetype'),
      url('/webfonts/gillsansmtpro-bookitalic-webfont.svg#GillSansMTProBookItalic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'GillSansMTPro';
  src:url('/webfonts/gillsansmtpro-bold-webfont.woff') format('woff'),
      url('/webfonts/gillsansmtpro-bold-webfont.ttf') format('truetype'),
      url('/webfonts/gillsansmtpro-bold-webfont.svg#GillSansMTProBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GillSansMTPro';
  src:url('/webfonts/gillsansmtpro-bolditalic-webfont.woff') format('woff'),
      url('/webfonts/gillsansmtpro-bolditalic-webfont.ttf') format('truetype'),
      url('/webfonts/gillsansmtpro-bolditalic-webfont.svg#GillSansMTProBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'GillSansMTPro-Medium';
  src:url('/webfonts/gillsansmtpro-medium-webfont.woff') format('woff'),
      url('/webfonts/gillsansmtpro-medium-webfont.ttf') format('truetype'),
      url('/webfonts/gillsansmtpro-medium-webfont.svg#GillSansMTProMedium') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GillSansMTPro-Medium';
  src:url('/webfonts/gillsansmtpro-mediumitalic-webfont.woff') format('woff'),
      url('/webfonts/gillsansmtpro-mediumitalic-webfont.ttf') format('truetype'),
      url('/webfonts/gillsansmtpro-mediumitalic-webfont.svg#GillSansMTProMediumItalic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'GillSansMTPro-Medium';
  src:url('/webfonts/gillsansmtpro-bold-webfont.woff') format('woff'),
      url('/webfonts/gillsansmtpro-bold-webfont.ttf') format('truetype'),
      url('/webfonts/gillsansmtpro-bold-webfont.svg#GillSansMTProBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GillSansMTPro-Medium';
  src:url('/webfonts/gillsansmtpro-bolditalic-webfont.woff') format('woff'),
      url('/webfonts/gillsansmtpro-bolditalic-webfont.ttf') format('truetype'),
      url('/webfonts/gillsansmtpro-bolditalic-webfont.svg#GillSansMTProBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/* Base elements */

html {
  font-size: 16px;
}
body {
  font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
  font-size: inherit;
  background: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "GillSansMTPro-Medium", Arial, Helvetica, "Helvetica Neue", sans-serif;
  font-weight: normal;
}
h1,
.h1 {
  font-size: 2.5rem;
  margin-top: 1.25rem;
  margin-bottom: .625rem;
  color: #912338;
}
h2,
.h2 {
  font-size: 2rem;
  margin-top: 1.25rem;
  margin-bottom: .625rem;
}
h3
.h3 {
  font-size: 1.5rem;
  margin-top: 1.25rem;
  margin-bottom: .625rem;
}
h4,
.h4 {
  font-size: 1.125rem;
  margin-top: .625rem;
  margin-bottom: .625rem;
}
h5,
.h5 {
  font-size: .875rem;
  margin-top: .625rem;
  margin-bottom: .625rem;
}
h6,
.h6 {
  margin-top: .75rem;
  margin-bottom: .625rem;
}
a {
  color: #0072a8;  /* Replaces #206b82 */
}
p {
  margin: 0 0 1em;
}
dd {
  margin-bottom: 1em;
}
.mb-0 {
  margin-bottom: 0;
}
.mt-3 {
  margin-top: 1em;
}
.lead {
  font-size: 1rem;
}
@media (min-width: 768px) {
  .lead {
    font-size: 1.25rem;
  }
}
blockquote {
  font-size: 1rem;
}
code,
kbd,
pre {
  font-size: .875rem;
  border-radius: 0;
}
legend {
  font-size: 1.25rem;
}
output {
  font-size: .875rem;
}
.small {
  font-size: .875em;
}
.accent {
  color: #912338;
}
.fw-bold {
  font-weight: bold;
}

/* Layout elements */

.main,
.home-main {
  padding-top: .85rem;
  background: #fff;
}
@media (min-width: 768px) {
  .main {
    padding-top: .85rem;
  }
}
.hero {
  background: #fff;
}
.box,
.jumbotron,
.panel,
.panel-heading,
.panel-footer,
.well,
.well-sm,
.well-lg,
.modal-content {
  border-radius: 0 !important;
}

/* Buttons */

.btn,
.btn-xs,
.btn-sm,
.btn-lg {
  border-radius: 0 !important;
}
.btn-primary {
  background-color: #0072a8;  /* Replaces #206b82 */
}
.btn-primary .badge {
  color: #0072a8;  /* Replaces #206b82 */
}
.btn-link {
  color: #0072a8;  /* Replaces #206b82 */
}

/* Other controls */

.control-large input,
.dropdown-menu,
.editor textarea,
.editor .editor-info-block,
.form-control,
.input-sm,
.input-lg,
.input-group-addon,
.select2-container,
.select2-drop,
.select2-choice,
.select2-choices {
  border-radius: 0 !important;
}

/* Other elements */

.list-spaced li {
  margin-top: .5em;
}
.list-spaced li:first-child {
  margin-top: 0;
}
.alert,
.error-block {
  border-radius: 0 !important;
}
.tooltip,
.popover {
  font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
}
.tooltip-inner,
.popover,
.popover-title {
  border-radius: 0 !important;
}
.wrapper {
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
@media (min-width: 768px) {
  .wrapper:before {
    border: 0;
  }
}
.label-primary {
  background-color: #0072a8;  /* Replaces #206b82 */
}
.label {
  font-size: .875rem;
  border-radius: 0;
}
.next-to-label {
  display: inline-block;
  font-size: .875rem;
  padding: .2em .6em .3em .3em;
}

/* Header and main navigation */

.main-nav {
  margin: 0;
  border: 0;
  font-family: "GillSansMTPro", Arial, Helvetica, "Helvetica Neue", sans-serif;
  font-size: initial;
  color: #fff;
  background: #353535;
}
.main-nav .navbar-nav {
  margin: 0 0 0 -15px;
  padding-left: 3px;
}
.main-nav .navbar-right {
  margin-right: 0;
}
.main-nav .navbar-collapse {
  border-top: 0;
}
.main-nav li > a {
  padding: 20px 12px;
  color: #bcbcbc;
  background: transparent;
  text-transform: uppercase;
}
.main-nav li.active > a {
  color: #fff !important;
  background: #6e6e6e;
}
.main-nav li > a:hover {
  color: #4b4b4b !important;
  background: #fff;
}
.main-nav .language-selector li > a {
  padding: 20px;
  color: #fff;
  background: #000;
}
.main-nav .language-selector li > a:hover {
  color: #fff !important;
  background: #1d1d1d;
}
.account-masthead {
  padding-top: .75rem;
  color: #000;
  background: #fff;
}
.account-masthead h1 {
  font-family: "GillSansMTPro", Arial, Helvetica, "Helvetica Neue", sans-serif;
  font-size: 2rem;
  margin-top: .75rem;
  margin-bottom: .75rem;
}
.account-masthead a {
  color: #000;
  text-decoration: none;
}
.account-masthead .container {
  position: relative;
}
.account-masthead .account {
  position: absolute;
  top: 0;
  right: 15px;
}
.account-masthead .account ul li a {
  color: #000;
}
.concordia-logo-header {
  display: block;
}
.concordia-logo-header img {
  width: 155px;
  height: 38px;
}
.quescren-logo-header {
  display: none;
}
@media (min-width: 768px) {
  .quescren-logo-header {
    display: block;
    float: right;
    margin: 1rem 0 0 2rem;
  }
}

/* Breadcrumb */

.breadcrumb {
  border-radius: 0;
}
.toolbar .breadcrumb {
  font-size: .8125rem;
  font-weight: bold;
  color: #4b4b4b;
}
.toolbar .breadcrumb a {
  color: #4b4b4b;
}
.toolbar .breadcrumb .active a {
  font-weight: normal;
}
.toolbar .breadcrumb > li + li:before {
  padding: 0 4px;
  font-weight: normal;
  color: #4b4b4b;
}

/* Footer */

.main-footer {
  font-family: "GillSansMTPro", Arial, Helvetica, "Helvetica Neue", sans-serif;
}
.footer-section {
  padding: 1rem;
}
.footer-sponsors {
  color: #212529;
  background: #f2f2f2;
}
.footer-sponsors a {
  color: #212529;
}
.footer-sponsors a:hover {
  color: #000;
}
.footer-attribution {
  color: rgb(255,255,255,0.8);
  background: #912338;
}
.footer-attribution a {
  color: rgb(255,255,255,0.8);
}
.footer-attribution a:hover {
  color: #fff;
}

/* Navigation/selection elements */

.navbar,
.navbar-toggle,
.navbar-toggle .icon-bar {
  border-radius: 0;
}
.nav > li > a:hover,
.nav > li > a:focus {
  color: #0072a8;
}
.nav-simple > li,
.nav-aside > li {
  border-bottom: 0;
}
.nav-item.active > a span,
.nav-aside li.active a span {
  white-space: initial;
  overflow: initial;
}
.nav-item.active > a,
.nav-item.active > a:hover,
.nav-aside li.active a,
.nav-aside li.active a:hover {
  background-color: #0072a8;  /* Replaces #647A82 */
}
@media (min-width: 768px) {
  .nav-item.active > a:before,
  .nav-aside li.active a:before {
    border-left-color: #0072a8;  /* Replaces #647A82 */
  }
}
.nav-tabs-justified > li > a,
.nav-pills > li > a {
  border-radius: 0;
}
.pill {
  background-color: #0072a8;  /* Replaces #4e5f65 */
  border-radius: 0;
}

/* Modules */

.secondary .module {
  margin-top: 1rem;
}
.module-heading {
  border: 0;
  border-radius: 0 !important;
  font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
  font-size: .875rem;
  font-weight: bold;
  background-color: inherit;
}
.module-footer {
  border-top: 0;
}
.module-item,
.module-resource {
  border-radius: 0;
}

/* Facets */

.filters .module-content.empty {
  font-size: .875rem;
}
.filters-heading {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 30px;
  color: #912338;
}
@media (max-width: 767px) {
  .filters-heading {
    display: none;
  }
}

/* Pagination */

.pagination {
  border-radius: 0;
}
.pagination-wrapper {
  border-top: 0;
}
.pagination > li > a,
.pagination > li > span {
  border-radius: 0 !important;
  color: #0072a8;  /* Replaces #206b82 */
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #0072a8;  /* Replaces #206b82 */
  border-color: #0072a8;
}

/* Search */

.module .search-heading {
  margin-top: 30px;
  color: #912338;
}
.module .search-heading:first-child {
  margin-top: 0;
}
.filter-list-facet {
  margin-top: .5rem;
}
.search-form {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
.search-form .control-order-by {
  float: right;
  margin-top: 0;
  margin-bottom: 0;
}

/* Dataset, organization search */

.dataset-heading,
.organization-heading {
  font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
  font-size: 1.25rem;
}
.dataset-heading a {
  color: #0072a8;
}
.dataset-item {
  border-bottom: 0;
}

/* Dataset page */

.additional-info .table thead {
  display: none;
}
.additional-info .table tbody tr th,
.additional-info .table tbody tr td {
  border-top: 0;
}
.page-header-dataset,
.page-header-organization {
  border-bottom: 0;
  background: transparent;
}
.dataset-label {
  text-align: right;
  width: 40% !important;
}
.dataset-details {
  width: auto !important;
}
.dataset-details p:last-child {
  margin-bottom: 0;
}
@media (min-width: 992px) {
  .dataset-label {
    width: 30% !important;
  }
  .dataset-details {
    width: auto !important;
  }
}

/* Context info (in dataset sidebar). */

.context-info h1.heading {
  font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
  color: #000;
}

/* Resource list */

.resource-list {
  margin-top: 0;
  margin-bottom: 0;
}
.resource-item {
  padding: 10px;
}
.resource-item-heading {
  font-size: 1rem;
  font-weight: bold;
}
.resource-item-actions {
  float: right;
}

/* Media grid */

.media-grid {
  border: 0;
  margin-left: -15px;
  background: none;
}
.media-item {
  width: calc(50% - 15px); /* Double the default width */
  border-radius: 0;
}
.media-view,
.media-image,
.media-overlay .media-heading {
  border-radius: 0;
}
