{#- DESQ:
    - Change text.
    - Remove icon.
-#}
<div class="module module-narrow module-shallow">
    <h2 class="module-heading">{{ _('Who are the contributing DESQ partners?') }}</h2>
    <div class="module-content">
        <p>
            {%- trans %}
                QUESCREN partner organizations originally obtained the datasets from
                <a href="https://www.statcan.gc.ca/en/start" target="_blank">Statistics Canada</a>.
                We acknowledge their generosity in agreeing to make them available to the
                public via DESQ, and the work of project consultant Jan Warnke in facilitating
                their availability.
            {%- endtrans %}
        </p>
    </div>
</div>
