{% ckan_extends %}

{#- DESQ:
    - Get translated organization title and abbreviation.
    - Change heading level and style.
    - Remove description.
-#}

{% set title = h.desq_organization_title(organization) %}

{% block title %}
    <h3 class="organization-heading">{{ title }}</h3>
{% endblock %}

{% block description %}
    {# Deliberately made empty! #}
{% endblock %}

{% block link %}
    <a href="{{ url }}" title="{{ _('View datasets from {}').format(title) }}" class="media-view">
        <span>{{ _('View datasets from {}').format(title) }}</span>
    </a>
{% endblock %}
