{% ckan_extends %}

{#- DESQ:
    - Add proper page heading.
    - Adapt to use scheming fields.
    - Exclude some fields.
-#}

{% set exclude_fields = [
        'name',
        'title',
        'title_translated',
        'title_abbr_translated',
        'org_contact',
        'url',
        'description',
        'description_translated'
    ]
%}

{% set schema = h.scheming_get_organization_schema(group_type) -%}

{% block breadcrumb_content %}
    <li>{% link_for _('Organizations'), named_route=group_type+'.index' %}</li>
    <li>{% link_for h.desq_organization_abbr_or_title(c.group_dict), named_route=group_type+'.read', id=group_dict.name %}</li>
    <li class="active">{{ _("About") }}</li>
{% endblock %}

{% block primary_content_inner %}
    <h1>{{ h.desq_organization_title(c.group_dict) }}</h1>
    <dl>
        {%- for field in schema.fields %}
            {%- if field.field_name not in exclude_fields and field.display_snippet is not none and c.group_dict[field.field_name] %}
                <dt>
                    {{- h.scheming_language_text(field.label) -}}
                </dt>
                <dd {% if field.display_property %}property="{{ field.display_property }}"{% endif %}>
                    {%- snippet 'scheming/snippets/display_field.html', field=field, data=c.group_dict, schema=schema -%}
                </dd>
            {%- endif %}
        {%- endfor %}
    </dl>
    {%- with search_url = h.url_for(group_type ~ '.read', id=group_dict['name']) %}
        <p><a href="{{ search_url }}">{{ _('View datasets in DESQ') }}</a></p>
    {%- endwith %}
{% endblock primary_content_inner %}
