{% extends "package/base.html" %}

{#- DESQ:
    - CAUTION: We have to override the whole template instead of just the needed
      blocks, because we want the 'head_extras' block to inherit from
      "package/base.html", but we don't want it to inherit from the
      "package/read_base.html" template we're replacing.
    - Replace g.site_name with translatable string.
    - Remove all tabs from the content_primary_nav block.
    - Remove package info.
    - Use plural "Datasets" string literal in breadcrumb (instead of singular dataset_type.title()).
    - Remove organization from breadcrumb.
    - Truncate dataset title a bit less in breadcrumb.
-#}

{%- block subtitle %}{{ h.dataset_display_name(pkg) }} {{ g.template_title_delimiter }} {{ super() }}{% endblock %}

{% block breadcrumb_content %}
    {%- if pkg %}
        {%- set dataset = h.dataset_display_name(pkg) %}
        <li>{% link_for _("Datasets"), named_route=dataset_type ~ '.search' %}</li>
        <li {{ self.breadcrumb_content_selected() }}>{% link_for dataset|truncate(40), named_route=pkg.type ~ '.read', id=pkg.id if is_activity_archive else pkg.name %}</li>
    {%- else %}
        <li>{% link_for _("Datasets"), named_route=dataset_type ~ '.search' %}</li>
        <li class="active"><a href="">{{ _('Create Dataset') }}</a></li>
    {%- endif %}
{% endblock %}

{%- block head_extras -%}
    {{ super() }}
    {%- set description = h.markdown_extract(pkg.notes, extract_length=200) %}
    <meta property="og:title" content="{{ h.dataset_display_name(pkg) }} - {{ _('Data Portal on English-Speaking Quebec') }}">
    <meta property="og:description" content="{{ description|forceescape|trim }}">
{%- endblock -%}

{% block page_header %}
    {#- Remove content_primary_nav block (tabs). #}
    {%- if self.content_action() | trim %}
        <header class="module-content page-header page-header-dataset">
            <div class="content_action">
                {%- block content_action %}
                    {%- if not is_activity_archive %}
                        {%- if h.check_access('package_update', {'id':pkg.id }) %}
                            {% link_for _('Manage'), named_route=pkg.type ~ '.edit', id=pkg.name, class_='btn btn-default', icon='wrench' %}
                        {%- endif %}
                    {%- endif %}
                {% endblock %}
            </div>
        </header>
    {%- endif %}
{% endblock %}

{%- block secondary_content %}

    {%- block secondary_help_content %}{% endblock %}

    {%- block package_info %}
        {#- Deliberately made empty! #}
    {%- endblock %}

    {%- block package_organization %}
        {%- if pkg.organization %}
            {%- set org = h.get_organization(pkg.organization.id) %}
            {% snippet "snippets/organization.html", organization=org, has_context_title=true %}
        {%- endif %}
    {%- endblock %}

    {%- block package_social %}
        {% snippet "snippets/social.html" %}
    {%- endblock %}

    {%- block package_license %}
        {% snippet "snippets/license.html", pkg_dict=pkg %}
    {%- endblock %}

{% endblock %}
