{% ckan_extends %}

{#- DESQ:
    - Customize sorts (Guide: https://docs.ckan.org/en/2.9/extensions/adding-custom-fields.html#sorting-by-custom-fields-on-the-dataset-search-page)
        - Add 'Census year Ascending'
        - Add 'Census year Descending'
    - Add heading above filters and search form.
    - Remove mention of API.
-#}

{% block form %}
    {%- set facets = {
        'fields': fields_grouped,
        'search': search_facets,
        'titles': facet_titles,
        'translated_fields': translated_fields,
        'remove_field': remove_field }
    %}
    {%- set sorting = [
        (_('Relevance'), 'score desc, metadata_modified desc'),
        (_('Census year Ascending'), 'census_year asc'),
        (_('Census year Descending'), 'census_year desc'),
        (_('Name Ascending'), 'title_string asc'),
        (_('Name Descending'), 'title_string desc'),
        (_('Last Modified'), 'metadata_modified desc'),
        (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
    %}
    {% if q or fields %}
        <h2 class="search-heading">{{ _('Your search') }}</h1>
    {% else %}
        <h2 class="search-heading">{{ _('Search') }}</h1>
    {% endif %}
    {% snippet 'snippets/search_form.html', form_id='dataset-search-form', type=dataset_type, query=q, sorting=sorting, sorting_selected=sort_by_selected, count=page.item_count, placeholder=_('Search ' + dataset_type + 's') + '...', facets=facets, show_empty=request.params, error=query_error, fields=fields %}
{% endblock %}

{% block package_search_results_api %}
    {#- Deliberately made empty! #}
{% endblock %}

{% block secondary_content %}
    <h2 class="filters-heading">{{ _('Filter') }}</h2>
    {{ super() }}
{% endblock %}
