{%- trans %}
    <h2>Content</h2>
    <p>The Data Portal on English-Speaking Quebec (DESQ) is a growing online database created by the <a href="https://www.concordia.ca/artsci/scpa/quescren.html" target="_blank">Quebec English-Speaking Communities Research Network (QUESCREN)</a> at Concordia University. DESQ stores statistical datasets related to English-speaking Quebec that are mostly drawn from Canadian census data.</p>
{%- endtrans %}
{%- trans %}
    <h2>Dataset Formats</h2>
    <p>Datasets are available in three formats:</p>
    <ul>
        <li><strong>Ivation tables (IVT)</strong>. These can be opened using the freely available <a href="https://www.statcan.gc.ca/en/public/beyond20-20" target="_blank">Beyond 20/20 Professional Browser</a>, which works only on Windows operating systems (not Mac). For a quick primer on using this browser, <a href="https://lib.uwaterloo.ca/locations/umd/digital/documents/Beyond2020_edited2.pdf" target="_blank">click here</a>.</li>
        <li><strong>Comma-separated values files (CSV)</strong>. These raw datasets can be imported into a variety of programs, but typically require field formatting and some prior experience in working with big data.</li>
        <li><strong>Microsoft Excel spreadsheet files (XLSX)</strong>. These are the most user-friendly datasets for those familiar with spreadsheets but unfamiliar with other data treatment software. However, they allow for the cross-referencing of only two variables at a time. Files can be opened using <a href="https://www.microsoft.com/en-us/microsoft-365/excel" target="_blank">Microsoft Excel</a>, <a href="https://www.google.ca/sheets/about/" target="_blank">Google Sheets</a>, or other programs compatible with Excel.</li>
    </ul>
    <p><strong>The website is currently under development and all dataset formats listed here may not yet be available.</strong></p>
{%- endtrans %}
{%- trans %}
    <h2>Use of Material</h2>
    <p>All datasets on this site were created by Statistics Canada for third-party organizations. They are freely available via an <a href="https://www.statcan.gc.ca/en/reference/licence" target="_blank">open license from Statistics Canada</a> and open-use licensing agreements with the third-party organizations. You are free to use, share, publish and freely distribute these tables as long as you provide an acknowledgement of source (e.g.: <em>Statistics Canada, “name of product,” “reference date,” custom dataset created for “name of partner organization” by Statistics Canada. Reproduced and distributed on an as-is basis with the permission of Statistics Canada.</em>)</p>
{%- endtrans %}
{%- trans %}
    <h2>Credits</h2>
    <p>Producer of DESQ: Quebec English-Speaking Communities Research Network (QUESCREN)</p>
    <p>Project Management</p>
    <ul>
        <li><a href="mailto:patrick.donovan1@concordia.ca?subject=DESQ">Patrick Donovan</a> (QUESCREN)</li>
    </ul>
    <p>IT Consultant</p>
    <ul>
        <li>David Lesieur (<a href="https://whiskyechobravo.com/">Whisky Echo Bravo</a>)</li>
    </ul>
    <p>Project Consultant</p>
    <ul>
        <li>Jan Warnke (JW COMM)</li>
    </ul>
{%- endtrans %}
{%- trans %}
    <h2>Funders and partners</h2>
    <p>The <a href="https://www.quebec.ca/en/government/departments-and-agencies/srqea" target="_blank">Secrétariat aux relations avec les Québécois d’expression anglaise</a>, Gouvernement du Quebec, funded this project.</p>
    <p>QUESCREN <a href="/en/organization/">partner organizations</a> originally obtained the datasets from <a href="https://www.statcan.gc.ca/en/start" target="_blank">Statistics Canada</a>. We acknowledge their generosity in agreeing to make them available to the public via DESQ, and the work of project consultant Jan Warnke in facilitating their availability.</p>
    <p>QUESCREN also receives funding from the <a href="https://www.canada.ca/en/canadian-heritage.html" target="_blank">Department of Canadian Heritage</a>, the <a href="https://icrml.ca/en/" target="_blank">Canadian Institute for Research on Linguistic Minorities</a>, and <a href="https://www.concordia.ca/" target="_blank">Concordia University</a>.</p>
{%- endtrans %}
