{#- DESQ:
    - Replace g.site_intro_text with translatable string.
    - Remove featured media.
-#}

<div class="module-content box">
    <div>
        {%- trans %}
            The Data Portal on English-Speaking Quebec (DESQ) is a growing online database created
            by the <a href="https://www.concordia.ca/artsci/scpa/quescren.html" target="_blank">Quebec
            English-Speaking Communities Research Network (QUESCREN)</a> at Concordia University.
            DESQ stores statistical datasets related to English-speaking Quebec that are mostly
            drawn from Canadian census data.
        {%- endtrans %}
    </div>
</div>
